{extend name="common/base" /}
{block name="main"}
<div>
    <section class="list-item">
        <div class="title-picture"><i>1</i></div>
        <div class="title-text">
            <p class="title"><a href="">万紫千红，春山可望</a></p>
            <span>2018.03.19 - 佳作共赏 - 阅12</span>
            <p class="describe">
                这是一个万紫千红的春天，春水明媚，嫩柳妖娆。这是一个万紫千红的春天，春水明媚，嫩柳妖娆。
            </p>
        </div>
    </section>

    <section class="list-item">
        <div class="title-picture"><i>1</i></div>
        <div class="title-text">
            <p class="title"><a href="">万紫千红，春山可望</a></p>
            <span>2018.03.19 - 佳作共赏 - 阅12</span>
            <p class="describe">
                这是一个万紫千红的春天，春水明媚，嫩柳妖娆。这是一个万紫千红的春天，春水明媚，嫩柳妖娆。
            </p>
        </div>
    </section>

    <section class="list-item">
        <div class="title-picture"><i>1</i></div>
        <div class="title-text">
            <p class="title"><a href="">万紫千红，春山可望</a></p>
            <span>2018.03.19 - 佳作共赏 - 阅12</span>
            <p class="describe">
                这是一个万紫千红的春天，春水明媚，嫩柳妖娆。这是一个万紫千红的春天，春水明媚，嫩柳妖娆。
            </p>
        </div>
    </section>
</div>
<input type="hidden" name="category" value="index">
{/block}