{extend name="common/base" /}
{block name="main"}
<div id="article">
    <span class="position">当前位置：<a href="">首页</a> > <a href="">佳作共赏</a> > 正文</span>
    <div class="article-title">
        <a id="comment-number">0</a>
        <div id="title-text">
            <h1>细小的春天</h1>
            <p>
                作者：小石&nbsp;&nbsp;&nbsp;&nbsp;
                发表于：2018-03-29&nbsp;&nbsp;&nbsp;&nbsp;
                已有 20 人阅读此文&nbsp;&nbsp;&nbsp;&nbsp;
                评论：19 条
            </p>
        </div>
    </div>
</div>
<input type="hidden" name="category" value="index">
{/block}