{extend name="common/base" /}
{block name="main"}
<div>
    <section class="row list-item">
        <div class="col-md-5 border" style="height: 50px">
            <div class="title-picture"></div>
        </div>
        <div class="col-md-7 border" style="height: 50px"></div>
    </section>
</div>


<!--<div>-->
    <!--<section class="list-item">-->
        <!--<div class="col-md-12">-->
            <!--<div class="title-picture col-md-5"></div>-->
            <!--<div class="title-text">-->
                <!--<h4>万紫千红，春山可望</h4>-->
                <!--<i>2018-03-18</i><span class="new">new</span>-->
                <!--<p class="abstract col-md-7">-->
                    <!--当待春中，草木蔓发，春山可望，轻鲦出水，白鸥矫翼，露湿青皋，麦陇朝雊，斯之不远，倘能从我游乎？-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->
{/block}