.navbar {
    height: 110px;
}

.border-buttom {
    border-bottom: 1px solid #dee2e6!important;
}

.bg-light {
    background-color: #fff !important;
}

.main {
    margin-top: 50px;
    padding: 10px;
}

.sidebar {
    background-color: #f8f8f8;
}