.navbar {
    height: 110px;
}

.navbar-collapse {
    background-color: #fff;
    z-index: 99;
}



.border-buttom {
    border-bottom: 1px solid #dee2e6!important;
}

.bg-light {
    background-color: #fff !important;
}

.main {
    margin-top: 50px;
    padding: 20px;
}

.sidebar {
    background-color: #f8f8f8;
}

@media screen and (min-width: 1200px){
    .nav-item {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px){
    .nav-item {
        border-bottom: 1px solid #dee2e6!important;
    }
}